
.drap-drop-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  .left-section {
    display: flex;
    flex: 30%;
    flex-direction: column;
    background-color: red;
    padding: 1em;
    box-sizing: border-box;

    .card-holder {
      margin-bottom: 1em;
    }
  }
  .right-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 70%;
    background-color: green;
    padding: 1em;
    box-sizing: border-box;
    .card-holder {
      margin: 0 1em 1em 0;
    }
  }
}

.card-holder {
  position: relative;
  width: 250px;
  height: 150px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.origin-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  background-color: #fff;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
}

.disable-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
}

.remove-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover + .remove-icon {
  display: block;

}

.remove-icon:hover {
  color: red;
}

.card-holder,
.card,.origin-cards {
  border-radius: 10px;
}
