.progress-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  min-height: 200px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  span {
    margin-bottom: 1em;
  }
}

.radial-progress {
  $inset-size: 90px;
  $circle-background: #d6dadc;
  $circle-color: #97a71d;
  background-color: $circle-background;
  $circle-size: 120px;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  $shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);

  .inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: $inset-size;
    height: $inset-size;
    border-radius: 50%;
    background-color: #fff;
    margin: ($circle-size - $inset-size)/2;
    box-shadow: $shadow;
    span {
      margin: ($circle-size - $inset-size)/2;
      color: $circle-color;
      font-weight: 500;
      font-size: 20px;
    }
  }
  .circle {
    box-shadow: $shadow inset;
    .shadow {
      width: $circle-size;
      height: $circle-size;
      position: absolute;
      border-radius: 50%;
      box-shadow: $shadow inset;
    }
    .mask,
    .fill {
      position: absolute;
      width: $circle-size;
      height: $circle-size;
      transition: transform 0.5s ease-out;
      backface-visibility: hidden;
      border-radius: 50%;
    }
    .mask {
      background-color: transparent;
      .fill {
        background-color: $circle-color;
      }
    }
    .mask {
      // transform: rotate(180deg);
      // clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
      clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
      .fill {
        // clip: rect(0px, $circle-size/2, $circle-size, 0px);
        clip-path: polygon(0 0, 50% 0%, 50% 100%, 0 100%);
      }
    }

    // .mask.right {
    //   // clip: rect(0px, $circle-size/2, $circle-size, 0px);
    //   clip-path: polygon(0 0, 50% 0%, 50% 100%, 0 100%);
    //   .fill {
    //     // clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
    //     clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
    //   }
    // }
  }

  $one-percent: 180deg / 100;
  @for $i from 0 through 100 {
    &[data-progress="#{$i}"] {
      .circle {
        .mask.full,
        .fill {
          transform: rotate($one-percent * $i);
        }

        .fill.fix {
          transform: rotate($one-percent * $i * 2);
        }
      }
    }
  }
}
