.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.container-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.active {
  background-color: blue !important;
  color: #fff;
}

.main-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  // background-repeat: repeat;
  // background-size: 10% 10%;
  // background-position: top left;
  // animation: mymove 5s infinite;

  .conent-area {
    position: relative;
    min-width: 364px;
    min-height: 300px;
    border: solid 1px #cccccc78;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    background: #ffffff36;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 1em;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    .option {
      margin-right: 1em;
      height: 25px;
      display: flex;
      align-items: center;
      padding: 1em;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      // &:active {
      //   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      //     0 3px 14px 2px rgba(0, 0, 0, 0.12);
      // }

    }
  }
}

.background-wrapper {
  width: 100%;
  height: 100%;
}

.theme-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
.square-box-area {
  background: linear-gradient(to left bottom, #329e6c, #20403d);
  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: square-animate 20s linear infinite;
    bottom: -150px;
    border-radius: 10%;

    &:nth-child(1) {
      left: 86%;
      width: 86px;
      height: 86px;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      left: 12%;
      width: 30px;
      height: 30px;
      animation-delay: 1.5s;
      animation-duration: 10s;
    }
    &:nth-child(3) {
      left: 70%;
      width: 100px;
      height: 100px;
      animation-delay: 5.5s;
    }
    &:nth-child(4) {
      left: 40%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 15s;
    }

    &:nth-child(5) {
      left: 10%;
      width: 60px;
      height: 60px;
      animation-delay: 12s;
    }
  }
}

.explosion-box-area {
  background: linear-gradient(to left bottom, #3f51b5, #ca2020);

  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.76);
    animation: explode-animate 2s ease-in-out infinite;
    // animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
    // animation-direction: alternate;
    box-shadow: none;
    bottom: -150px;
    border-radius: 50%;
    opacity: 0;

    &:nth-child(1) {
      left: 86%;
      width: 16px;
      height: 16px;
      animation-delay: 0s;
      animation-duration: 5.5s;
    }

    &:nth-child(2) {
      left: 12%;
      width: 10px;
      height: 10px;
      animation-delay: 2s;
      animation-duration: 4.5s;
    }
    &:nth-child(3) {
      left: 75%;
      width: 30px;
      height: 30px;
      animation-delay: 4s;
      animation-duration: 3.5s;
    }
    &:nth-child(4) {
      left: 40%;
      width: 40px;
      height: 40px;
      animation-delay: 6s;
      animation-duration: 2.5s;
    }

    &:nth-child(5) {
      left: 16%;
      width: 60px;
      height: 60px;
      animation-delay: 10s;
      animation-duration: 2s;
    }
  }
}

.waves-area {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;

  .inner-header {
    height: 60vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .waves {
    position: relative;
    width: 100%;
    height: 15%;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }

  /* Animation */

  .parallax {
    use {
      animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;

      &:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }

      &:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }

      &:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      &:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
    }
  }

  @keyframes move-forever {
    0% {
      transform: translateX(-90px);
    }
    100% {
      transform: translateX(85px);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
  }
}

@keyframes explode-animate {
  0% {
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.76);
    box-shadow: none;
    opacity: 0;
  }
  90% {
    opacity: 1;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.76);
  }
  95% {
    opacity: 1;
    box-shadow: none;
    background: transparent;
    box-shadow: 0 0 2px 10px rgba(255, 255, 255, 0.4);
  }
  100% {
    transform: translateY(-600px);
    background: transparent;
    box-shadow: 0 0 2px 30px rgba(255, 255, 255, 0.2);
    opacity: 0;
  }
}

@keyframes square-animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes mymove {
  50% {
    background-position: center;

    // transform: rotate(1turn);
  }
}
