<div class="page-wrapper">
  <div class="page-container">
    <mat-icon class="sentiment-icon">sentiment_very_dissatisfied</mat-icon>
    <span class="code">{{'404'}}</span>
    <span class="name">{{'Page not found'}}</span>
    <div class="info">
      <span>{{'The page your looking does not exist. Are you sure the website URL is correct?'}}</span>
    </div>
    <button mat-raised-button class="btn-blue go-back-btn" (click)="navigateBack()">
      <mat-icon>navigate_before</mat-icon>{{'Go Back'}}
    </button>
  </div>
</div>
