.home-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--default-background-color);
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--default-background-color);
  padding: 1em 0;
  height: 250px;

  .carousel-indicator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .indicator {
      border: solid 1px #ccc;
      border-radius: 10px;
      width: 20px;
      height: 10px;
      padding: 2px;
      background-color: #fff;
      margin: 0 5px;
      transition: all 0.3s ease-in-out;
    }
  }


}

.carousel-card-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .carousel-card-holder {
      display: inline-block;
      position: relative;
      height: 210px;
      padding: 0.5em;
      .carousel-card {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: solid 1px #ccc;
        background-color: gray;
        border-radius: 5px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        span {
          font-size: 30px;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }

  .scroll-left,.scroll-right{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
    background-color: transparent;
    .icon-holder{
      padding: 1em;
      background-color: rgba(0, 0, 0, 0.575);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .scroll-left {
    left: 0;
  }
  .scroll-right {
    right: 0;
  }
}


